body {
	background-color: gray; 
	height: auto; 
}
h1 {
	text-align: center; 
}
#lyrics {
	width: 50%; 
	height: auto; 
	padding: 10px; 
	margin-right: auto; 
	margin-left: auto; 
	text-align: center; 
	background-color: white;
	border: 2px solid purple; 
}
#buttons {
	padding: 19px; 
	margin-right: auto; 
	margin-left: auto; 
	width: 120px;  
	color: purple; 
}