body {
	background-color: gray; 
}
h1 {
	text-align: center; 
}
#lyrics {
	width: 50%; 
	height: auto; 
	padding: 10px; 
	margin-right: auto; 
	margin-left: auto; 
	text-align: center; 
	background-color: gray;
	list-style-type: none;
	background-color: white;
	border: 2px solid purple; 
}
#buttons {
	padding: 19px; 
	margin-right: auto; 
	margin-left: auto; 
	width: 120px; 
}
#button {
	border-width: med;
    background-color: #8C2AF5;
    border-color: black;
    color: white;
}