body {
	background-color: gray; 
}
#lyrics {
	width: 50%; 
	height: auto; 
	padding: 10px; 
	margin-right: auto; 
	margin-left: auto; 
	text-align: center; 
	background-color: rgba(0,0,0,0.7);
	color: white; 
}
#buttons {
	padding: 19px; 
	margin-right: auto; 
	margin-left: auto; 
	width: 119px;  
}