body {
  background-color: #999999;
}
#project-button {
    position: absolute;
    left: 50%;
    top: 70%;
    margin-top: 25px;
    margin-left: -40px;
    border-width: med;
    background-color: #8C2AF5;
    border-color: black;
    color: white;


}

#project-search {
    resize: none;
    position: absolute;
    left: 50%;
    top: 70%;
    margin-top: -11px;
    margin-left: -200px;
    width: 400px;
    height: 25px;
    border-width: medium;
    border-color: #8C2AF5;


}
